{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Записи в блоге</h1>
    {% if current_user.is_authenticated %}
        <a type="button" href="/add_hero" class="btn btn-success has-icon">
            <i class="bi bi-plus-lg"></i>
        </a>
    {% endif %}
    {% for hero in heroes %}
    <div class="col-md6 border rounded">
        <h2>{{hero.name}}</h2>
        <h1>Раса - {{hero.races.name}}</h1>
        <h1>Класс - {{hero.classes.name}}</h1>
        <div>
            <a type="button" href="/edit_hero/{{ hero.id }}" class="btn btn-warning has-icon">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a type="button" href="/delete_hero/{{ hero.id }}" class="btn btn-danger has-icon">
                <i class="bi bi-trash3"></i>
            </a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="header">
        <h1>Зарегитсрируйтесь или войдите, чтобы создать своего героя или увидеть  существующих</h1>
    </div>
{% endif %}
{% endblock %}
