{% extends "base.html" %}

{% block content %}
<div class="header">
    <h1>Библиотека классов и рас</h1>
</div>
<div class="contain">
    <div class="row">
        <div class="col-lg">
            <img class="center-image" src="{{ url_for('static', filename='img/маг.jpg') }}" width="212" height="300">
            <a class="link" href="http://127.0.0.1:5000/classes"><h2 class="center-text">Классы</h2></a>
        </div>
        <div class="col-lg">
            <img class="center-image" src="{{ url_for('static', filename='img/гоблин.jpg') }}" width="212" height="300">
            <a class="link" href="http://127.0.0.1:5000/races"><h2 class="center-text">Расы</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <img class="center-image" src="{{ url_for('static', filename='img/свиток2.png') }}" width="234" height="300">
            <a class="link" href="http://127.0.0.1:5000/rules"><h2 class="center-text">Правила</h2></a>
        </div>
        <div class="col-lg">
            <img class="center-image" src="{{ url_for('static', filename='img/герой 2.png') }}" width="353" height="300">
            <a class="link" href="http://127.0.0.1:5000/my_heroes"><h2 class="center-text">Мои герои</h2></a>
        </div>
    </div>
</div>
{% endblock %}